---
layout: measure-lg
---

<div class="measure--lg">
  <div class="media-object">
    <div class="media-object-figure mr1 txt--right">
      <h3 class="list-item-title--compact">
        {% include icon.html post_or_event=page %}
      </h3>
      <div class="muted--2x">
        {% include long-date.html date=page.date %}<br>
        {% include word-count.html content=page.content %}
        <div class="post-categories">
          {% for tag in page.tags %}
            <div class="post-category">
              <a href="/tag/{{tag}}" title="{{tag}}" class="dotted-link caps">{{tag}}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="media-object-body">
      <h3 class="list-item-title--compact list-item-solo-title">
        {{page.title}}
      </h3>
      <div class="list-item-description">
      </div>
      <article class="markdown-content">
        {{ content }}
      </article>

      <div class="relative-navigation my2 clearfix">
        {% if page.previous.url %}
        <a style="float: left;" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}

        {% if page.next.url %}
        <a style="float: right;" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>

      {% if page.subscribers %}
        <div class="subscribers my2 muted--2x" style="border: 1px solid gray; padding: 1rem">
          <h2>Want more?</h2>
          {% include subscribers.html %}
        </div>
      {% endif %}

      {% if page.comments %}
        <div class="comments my2">
          <h2>Comments</h2>
          {% include comments.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
