---
layout: measure-lg
---

<div class="measure--lg">
      <h1 class="list-item-title--compact list-item-solo-title title">
        {{page.title}}
      </h1>
      <div class="list-item-solo-metadata">
        <div class="muted--2x">
          {% include long-date.html date=page.date %} &mdash; {% include word-count.html content=page.content %}
          <div class="post-categories">
            {% for tag in page.tags %}
              {% if forloop.last == false %}
                <a href="/tag/{{tag}}" title="{{tag}}" class="dotted-link caps">{{tag}}</a><span>,&nbsp;</span>
              {% else %}
                <a href="/tag/{{tag}}" title="{{tag}}" class="dotted-link caps">{{tag}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <article class="markdown-content">
        {{ content }}
      </article>

      <div class="relative-navigation my2 clearfix">
        {% if page.previous.url %}
        <a style="float: left;" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}

        {% if page.next.url %}
        <a style="float: right;" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>

      {% if page.subscribers %}
        <div class="subscribers my2 muted--2x" style="border: 1px solid gray; padding: 1rem">
          <h2>Want more?</h2>
          {% include subscribers.html %}
        </div>
      {% endif %}

      {% if page.comments %}
        <div class="comments my2">
          <h2>Comments</h2>
          {% include comments.html %}
        </div>
      {% endif %}

</div>
