---
layout: measure-lg
---

<div class="measure--lg event_post">
  <h1 class="list-item-title--compact list-item-solo-title title">
    {% include icon.html post_or_event=page %}
    {{page.title}}
  </h1>
  <div class="list-item-solo-metadata">
    <div class="muted--2x">
      <div class="post-categories">
        {% for tag in page.tags %}
          {% if forloop.last == false %}
            {{tag}}<span>,&nbsp;</span>
          {% else %}
            {{tag}}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <article class="markdown-content">
    {{ content }}
  </article>
</div>
