---
layout: measure-lg
---

<div class="measure--lg">
	{% if page.title %}
		<h1 class="h2 txt--center">{{page.title}}</h1>
	{% endif %}
 	{% if page.description %}
		<h2 class="h4 txt--center py1">{{page.description}}</h2>
  {% endif %}

  {% case page.item_collection %}
    {% when 'events' %}
      {% assign item_collection = site.events | sort: 'date' | reverse %}
    {% when 'projects' %}
      {% assign item_collection = site.projects | sort: 'date_range' %}
    {% else %}
      {% assign item_collection = '' %}
      !!! Unknown item collection {{page.item_collection}} for this layout. !!!
  {% endcase %}

  {% assign item_collection = item_collection | by_group: 2 %}
  <div class="g">
    {% for group in item_collection %}
      <div class="g-r g-item-row">
        {% for item in group %}
          <div class="g-r-c-6-12--lg g-r-c-6-12--md g-r-c-12--sm g-item-object">
            {% include showcase-item.html showcase=item %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
