{% assign current = page.url | downcase | split: '/' %}
{% assign section = current[1] %}
{% assign page.nav_highlight = 'blog' %}

<header class="header">
  <div class="{% if include.width_class %}{{include.width_class}}{% else %}measure{% endif %}">
    <div class="header-brand">
      <a href="{{'/' | prepend: site.baseurl}}" title="{{site.title}}">{ jxf }</a>
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">
        <a href="{{'/blog.html' | prepend: site.baseurl}}" {% if section == 'blog' or section == 'entries' %} class="active"{% endif %} title="Blog">Blog</a>
      </div>
      <div class="header-nav-item">
        <a href="{{'/portfolio.html' | prepend: site.baseurl}}" {% if section == 'portfolio' %} class="active"{% endif %} title="Work">Work</a>
      </div>
      <div class="header-nav-item">
        <a href="{{'/meta.html' | prepend: site.baseurl}}" {% if section == 'meta' %} class="active"{% endif %} title="Meta">Meta</a>
      </div>
      <div class="header-nav-item">
        <a href="{{'/self.html' | prepend: site.baseurl}}" {% if section == 'self' %} class="active"{% endif %} title="Self">Self</a>
      </div>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
