{% assign current = page.url | downcase | split: '/' %}
{% assign page.nav_highlight = 'blog' %}

<header class="header">
  <div class="{% if include.width_class %}{{include.width_class}}{% else %}measure{% endif %}">
    <div class="header-brand">
      <a href="{{'/' | prepend: site.baseurl}}" title="{{site.title}}">jxf</a>
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">
        <a href="{{'/blog.html' | prepend: site.baseurl}}" {% if page.nav_highlight == 'blog' or current[1] == 'blog.html' %} class="active" {% endif %} title="Blog">Blog</a>
      </div>
      {% if false %}
      <div class="header-nav-item">
        <a href="{{'/portfolio.html' | prepend: site.baseurl}}" {% if page.nav_highlight == 'portfolio' or current[1] == 'portfolio.html' %}class="active"{% endif %} title="Portfolio">Portfolio</a>
      </div>
      <div class="header-nav-item">
        <a href="{{'/services.html' | prepend: site.baseurl}}" {% if page.nav_highlight == 'services' or current[1] == 'services.html' %}class="active"{% endif %} title="Services">Services</a>
      </div>
      {% endif %}
      <div class="header-nav-item">
        <a href="{{'/meta.html' | prepend: site.baseurl}}" {% if page.nav_highlight == 'meta' or current[1] == 'meta.html' %}class="active"{% endif %} title="Meta">Meta</a>
      </div>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
