<section class="hero">
  <div class="measure--lg">
    <img src="{{'/images/jf.jpeg' | prepend: site.baseurl}}" alt="John Feminella" class="hero-image">
    <h1 class="hero-title">
      {{site.title}}
    </h1>
    <p class="hero-description caps">
      {{site.description}}
    </p>
    <nav class="social">
      <a class="social-link" href="{{site.github_url}}" title="John Feminella on Github">
        <i class="jf-i-github social-link-icon"></i>
      </a>
      <a class="social-link" href="{{site.twitter_url}}" title="John Feminella on Twitter">
        <i class="jf-i-twitter social-link-icon"></i>
      </a>
      <a class="social-link" href="{{site.linkedin_url}}" title="John Feminella on Linked In">
        <i class="jf-i-linkedin social-link-icon"></i>
      </a>
      <a class="social-link" href="mailto:{{site.email}}" title="Email John Feminella">
        <i class="jf-i-email social-link-icon"></i>
      </a>
    </nav>
  </div>
</section>
