<li class="list-item list-item--compact">
  <a href="{{include.url | prepend: site.baseurl}}" title="{{include.title}}">
    <div class="media-object list-item-title--compact">
      <div class="media-object-figure">
        <h4 class="m0">
          <small>
            {% include list-item-meta.html icon_type=include.icon_type date=include.date %}
          </small>
        </h4>
      </div>
      <div class="media-object-body">
        <h4 class="m0">
          {{include.title}}
        </h4>
      </div>
    </div>
  </a>
</li>
