<li class="list-item list-item--compact">
  <a href="{{include.list_item.url | prepend: site.baseurl}}" title="{{include.list_item.title | xml_escape}}">
    <div class="media-object list-item-title--compact">
      <div class="media-object-figure">
        <h4 class="m0">
          <small>
            {% include list-item-meta.html list_item=include.list_item %}
          </small>
        </h4>
      </div>
      <div class="media-object-body">
        <h4 class="m0">
          {{include.list_item.title}}
        </h4>
      </div>
    </div>
  </a>
</li>
