<li class="list-item">
  <div class="media-object">
    <div class="media-object-figure mr1 txt--right">
      <h3 class="list-item-title--compact">
        <a href="{{include.post.url | prepend: site.baseurl}}" title="{{include.post.title}}">
          {% include icon.html post_or_event=post %}
        </a>
      </h3>
      <div class="muted--2x">
        {% include long-date.html date=include.post.date %}<br>
        {% include word-count.html content=include.post.content %}
        <div class="post-categories">
          {% for tag in include.post.tags %}
            <div class="post-category">
              <a href="/tag/{{tag}}" title="{{tag}}" class="dotted-link caps">{{tag}}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="media-object-body">
      <h3 class="list-item-title--compact">
        <a href="{{include.post.url | prepend: site.baseurl}}" title="{{include.post.title}}">
          {{include.post.title}}
        </a>
      </h3>

      <div class="list-item-description">
        {{include.post.content | preview}}
        <div>
          <strong><a href="{{include.post.url | prepend: site.baseurl}}" title="Read {{include.post.title}}">
            Read more...
          </a></strong>
        </div>
      </div>
    </div>
  </div>
</li>
