{% if include.showcase.image %}
  <!-- TODO: USE ASSET TAGS HERE -->
  {% assign image_src = "" | append: include.showcase.image %}
  <img src="{{ site.assets.root }}/images/{{ image_src }}" alt="image for {{ include.showcase.title }}">
{% else %}
  <img src="http://placehold.it/1200x600">
{% endif %}

<h3 class="g-item-title">
  <a href="{{include.showcase.url | prepend: site.baseurl}}" title="{{include.showcase.title | xml_escape}}">
    {{ include.showcase.title }}
  </a>
</h3>

<div class="g-item-subtitle muted--2x px1">
  <span class="item-category">{{ include.showcase.client }}</span>
  <span class="item-category">{{ include.showcase.date_range }}</span>
</div>

<div class="item-categories">
  {% for tags in include.showcase.tags %}
  <span class="item-category">
    <span class="caps">{{ tags }}</span>
  </span>
  {% endfor %}
</div>

{{ include.showcase.content }}
