@font-face {
  font-family: 'jxf';
  src:url('/fonts/jxf.eot?-d6vo7g');
  src:url('/fonts/jxf.eot?#iefix-d6vo7g') format('embedded-opentype'),
      url('/fonts/jxf.woff?-d6vo7g') format('woff'),
      url('/fonts/jxf.ttf?-d6vo7g') format('truetype'),
      url('/fonts/jxf.svg?-d6vo7g#jxf') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jf-i-"], [class*=" jf-i-"] {
  font-family: 'jxf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jf-i-email:before {
  content: "\2709";
}
.jf-i-rss:before {
  content: "\e310";
}
.jf-i-twitter:before {
  content: "\f611";
}
.jf-i-linkedin:before {
  content: "\f612";
}
.jf-i-github:before {
  content: "\f670";
}
.jf-i-camera:before {
  content: "\e600";
}
.jf-i-music:before {
  content: "\e601";
}
.jf-i-videocamera:before {
  content: "\e602";
}
.jf-i-bullhorn:before {
  content: "\e603";
}
.jf-i-file:before {
  content: "\e604";
}
.jf-i-tags:before {
  content: "\e605";
}
.jf-i-location:before {
  content: "\e606";
}
.jf-i-calendar:before {
  content: "\e607";
}
.jf-i-comment:before {
  content: "\e608";
}
.jf-i-comments:before {
  content: "\e609";
}
.jf-i-professor:before {
  content: "\e60a";
}
.jf-i-quotes:before {
  content: "\e60b";
}
.jf-i-stats:before {
  content: "\e60c";
}
.jf-i-mug:before {
  content: "\e60d";
}
.jf-i-plane:before {
  content: "\e60e";
}
.jf-i-cloud:before {
  content: "\e60f";
}
.jf-i-earth:before {
  content: "\e610";
}
.jf-i-link:before {
  content: "\e611";
}
.jf-i-flag:before {
  content: "\e612";
}
.jf-i-attachment:before {
  content: "\e613";
}
.jf-i-code:before {
  content: "\e614";
}
.jf-i-console:before {
  content: "\e615";
}
