.list-meta-title {
  margin-top: 2.414rem;
}

.list-meta-title {
  @extend .caps;
  @extend .muted;
  @extend .sans;
  @extend .bold;

  border-bottom: thin solid $off-white-dark;
}

.list-meta-all {
  @extend .right;
  @extend .thin;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item:first-child {
  margin-top: 0;
  padding-top: 0;
}

.list-item:last-child {
  border-bottom: none;
  padding-bottom: 2.827rem;
}

.list-item {
  margin: 0;
  padding: 0 0 1rem;
}

.list-item--compact {
  margin: 0;
  padding: 0;
}

.list-item-title--compact {
  margin: 0;
  padding: .5rem 0;
  position: relative;
  .jf-i {
    font-size: 0.9em;
    position: absolute;
    top: 0.5em;
    left: -1.45em;
  }
}

/* Fix for home page icon misalignment */
.home-list .jf-i {
  top: 1.15em;
}

.list-item-title {
  margin: 0;
  padding: 1rem 0;
}


.list-item-solo-title {
  margin-top: $margin*3;
  margin-bottom: $margin*2;
}

.list-item-solo-metadata {
  @extend .muted;
  border-bottom: 1px solid $off-white-dark;
  padding-bottom: $margin*3;
  margin-bottom: $margin*3;
}


.list-item-description {
  margin-top: 1.5rem;
}

.list-item a:not(.link),
.list-item a:not(.link):visited {
  color: $text-color;
}

.list-item a:not(.link):focus,
.list-item a:not(.link):hover,
.list-item a:not(.link):active, {
  color: $link-color;
}

/* Hide icon next to title on smaller screens to optimize text space */
@media (max-width: 70em) { 
  .blog_post_list .jf-i {
    display: none;
  }
}

@media (max-width: 72em) { 
  .blog_post .jf-i {
    display: none;
  }
  .event_post .jf-i {
    display: none;
  }
}
