.bg--gray {
  background-color: $gray;
}

.bg--off-white {
  background-color: $off-white;
}

.bg--off-white-light {
  background-color: $off-white-light;
}

.gray {
  color: $gray;
}

.blue {
  color: $blue;
}

.white {
  color: #fff;
}

.off-white {
  color: $off-white;
}
