.p0  { padding: 0; }
.px0 { padding-left: 0; padding-right: 0; }
.py0 { padding-top: 0; padding-bottom: 0; }

.p1  { padding: $padding; }
.px1 { padding-left: $padding; padding-right: $padding; }
.py1 { padding-top: $padding; padding-bottom: $padding; }

.p2  { padding: $padding*2; }
.px2 { padding-left: $padding*2; padding-right: $padding*2; }
.py2 { padding-top: $padding*2; padding-bottom: $padding*2; }

.m0  { margin: 0; }
.mx0 { margin-left: 0; margin-right: 0; }
.my0 { margin-top: 0; margin-bottom: 0; }

.m1  { margin: $margin; }
.mx1 { margin-left: $margin; margin-right: $margin; }
.my1 { margin-top: $margin; margin-bottom: $margin; }
.mr1 { margin-right: $margin; }
.ml1 { margin-left: $margin; }

.m2  { margin: $margin*2; }
.mx2 { margin-left: $margin*2; margin-right: $margin*2; }
.my2 { margin-top: $margin*2; margin-bottom: $margin*2; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.muted {
  opacity: .9;
}

.muted--2x {
  opacity: .75;
}

.right {
  float: right;
}

.left {
  float: left;
}
