.full-width {
  width: 100%;
}

.markdown-content > :not(canvas):not(.full-width) {
  margin-left: 0;
  width: 70%;
}

@media (max-width: 60em) { 
  .markdown-content > :not(canvas):not(.full-width) {
    width: 100%;
  }
}

.markdown-content p img {
  max-width: 85%;
  margin: auto;
}

.markdown-content {
  p, ul, ol {
    margin-bottom: 0.9775rem;
    margin-top: 0;
  }
  
  h1 {
    margin-top: 1.955rem;
    margin-bottom: 0.9775rem;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.9775rem;
  }
}

