pre,
code {
  background-color: #f0f0f0;
  color: lighten($text-color, 10%);
}

pre {
  line-height: 1.25;
  overflow-x: auto;
  padding: .5rem;
}

// Inline code needs a little extra room for readability.
code {
  padding: .2rem .5rem;
  margin: 0 .5rem;
}

// No extra space when not using an inline block.
pre code
{
  padding: 0;
  margin: 0;
}

// Shell blocks take precedence.
div.shell pre,
div.shell code,
code.shell,
pre.shell {
  background-color: #222;
  color: white;
}