body {
  counter-reset: sidenote-counter;
}

input.margin-toggle { 
  display: none; 
}

label.sidenote-number { 
  display: inline; 
}

label.margin-toggle:not(.sidenote-number) { 
  display: none; 
}

.sidenote,
.marginnote { 
  float: right;
  clear: right;
  margin-right: -50%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $serif-font-family;
  font-size: 0.88rem;
  opacity: 0.75;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number { 
  counter-increment: sidenote-counter; 
}

.sidenote-number:after, .sidenote:before { 
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline;
  font-family: $serif-font-family;
  font-size: 0.88rem;
}

.sidenote-number:after { 
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
}

.sidenote:before { 
  content: counter(sidenote-counter) " ";
  top: -0.5rem; 
  opacity: 0.75;
}

@media (max-width: 76em) { 
  .sidenote,
  .marginnote { 
    margin-right: -40%;
    width: 30%;
  }
}

@media (max-width: 60em) { 
  label.margin-toggle:not(.sidenote-number) { 
    display: inline; 
  }
  .sidenote, .marginnote { 
    display: none; 
  }
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { 
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
  }
  label { 
    cursor: pointer; 
  }
  .margin-toggle {
    border-bottom: thin #444 dotted;
    color: #3498db;
  }
  .sidenote-number.sidenote-number {
    border-bottom: none;
  }
}
