html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.7;
}

.media-object-body {
  font-size: 1.2rem;
}

p,
.p {
  margin-bottom: 1.3rem;
}

p > img {
  margin-bottom: -.65rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 2.827rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 1.999rem;
}

h4,
.h4 {
  font-size: 1.414rem;
}

h5,
.h5 {
  font-size: 1.121rem;
}

h6,
.h6 {
  font-size: .88rem;
}

small,
.small {
  font-size: .837em;
}
