---
layout: measure-lg
---

<div class="measure--lg">
  <h1 class="h2 txt--center">Portfolio</h1>
  <h2 class="h4 txt--center py1">selected summaries of my consulting work</h2>
  {% assign project_groups = site.projects | sort: 'date_range' | by_group: 2 %}

  <div class="g">
    {% for gs in project_groups %}
      <div class="g-r g-item-row">
        {% for g in gs %}
        <div class="g-r-c-6-12--lg g-r-c-6-12--md g-r-c-12--sm g-item-object">
          {% if g.image %}
            <!-- TODO: USE ASSET TAGS HERE -->
            {% assign image_src = "" | append: g.image %}
            <img src="{{ site.assets.root }}/images/{{ image_src }}" alt="project image for {{ g.title }}">
          {% else %}
            <img src="http://placehold.it/1200x600">
          {% endif %}
          <h3 class="g-item-title">{{ g.client }}</h3>
          <div class="g-item-subtitle muted--2x"><span class="px1">{{ g.title }}</span> · <span class="px1">{{ g.date_range }}</span></div>
          <div class="g-item-description">
            {{ g.content }}
          </div>
          <div class="portfolio-categories">
            {% for t in g.tags %}
            <span class="portfolio-category">
              <span class="caps">{{ t }}</span>
            </span>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
