$gray:                   #444 !default;
$gray--light:            #8e8fa5 !default;
$blue:                   #3498db !default;
$blue--light:            #2980b9 !default;
$off-white:              #fafafa !default;

$link-color:             $blue !default;
$link-color--hover:      $blue--light !default;
$text-color:             $gray !default;
$text-color--light:      $gray--light !default;

$padding: 1rem !default;
$margin:  1rem !default;

$screen-m:  32rem !default;
$screen-l:  48rem !default;
$screen-xl: 64rem !default;
